{
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "parserOptions": {
    "sourceType": "module"
  },
  "rules": {
    "react-redux/exhaustive-deps": 0,
    "no-underscore-dangle": 0,
  }
}
